@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root { 
    --cor-fundo: #FDFDDB;
    --cor1: #FFFF7D;
    --cor2: #FFE24F;
    --cor3: #F2CF1D;
    --cor4: #F2C029;
    --cor5: #CFA526;
    --cor6: #F2F2F2;
    --cor7: #D6D6D6;
    --cor-transparente: #3b3b3bfd;
    --cor9: #171717;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Inter', sans-serif;  
}

body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    width: 100%;
    overflow-x: hidden;
}

header{
    /*background-color: rgba(0, 0, 0, 0.801);*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 3.2em;
    padding-top: .8em;
    padding-right: .5em;
    padding-left: .5em;
    border-bottom: 1px solid var(--cor8);
}

header > img#logo{   
  height: 25px;
  width: auto;
  background-color: var(--cor-fundo);
  align-self: flex-start;
}

nav{
    border: none;
    text-align: center;
    align-self: flex-start;
}

nav > .material-symbols-outlined{
    color: var(--cor3);
    font-size: 2em;
}

nav > .menu{
    display: none;
}

.home{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5em;
}

.home > .texto > .titulo{
    text-align: left;
    width: 53vw;
    margin-top: 1.4em;
    margin-left: .8em;
}

.home > .texto > .titulo > h1 > .destaque{
    color: var(--cor4);
}

.home > .texto > .subtitulo{
    text-align: left;
    width: 53vw;
    font-size: 1.3em;
    margin-top: 1.4em;
    margin-left: .8em;
}

.home > .texto > .cta > a{
    display: block;
    color: var(--cor6);
    text-decoration: none;
    background-color: var(--cor5);
    text-align: center;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: 2.2em;
    margin-left: .8em;
    border: 0px solid var(--cor5);
    border-radius: 35px;
    width: 53vw;
}
.home > .texto > .cta > a > .fa-whatsapp{
    font-size: 1.2em;
}

.home > .texto >.cta > a:visited{
    text-decoration: none;
    color: var(--cor6);
    text-decoration: none;
    background-color: var(--cor5);
}

.metricas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor6);
    width: 100vw;
    height: 5em;
    margin-top: 5em;
}

.metricas > .casos, .tempo{
    width: 50vw;
}

.metricas > .linha{
    height: 13vw;
    width: .1em;
    background-color: var(--cor6);
}

footer{
    background-color: white;
}